.example-card {
    max-width: 400px;
    height: fit-content;

}
.mar {
    margin: 0 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.text-container {
    display: grid;
    align-items: center;
}

.succ-container {
    margin-top: 10px;
    justify-content: center;
    font-size: 22px;

}

mat-card:not([class*=mat-elevation-z]){
    box-shadow: none !important;

}
mat-card-header mat-card-title{
    font-size: 24px;
}

mat-card-content>:last-child:not(.mat-card-footer) {
    font-size: 20px;

}

.img-container {
    max-width: 450px;
    margin-top: 20px;
    align-items:  center;

}