<mat-card-header class="succ-container">
    <mat-card-title color>Для вызова врача на дом заполните форму:</mat-card-title>
</mat-card-header>
<mat-form-field class="input-form-top" appearance="fill">
    <mat-label>ФИО</mat-label>
    <input matInput [(ngModel)]="fullName">
</mat-form-field>
<!-- <mat-form-field class="input-form" appearance="fill">
    <mat-label>Номер телефона</mat-label>
    <input matInput #phone maxLength="11" >
    <mat-hint align="end">{{phone.value.length}} / 11</mat-hint>
</mat-form-field> -->
<mat-form-field appearance="fill" class="input-form">
    <mat-label>Улица</mat-label>
    <mat-select [(ngModel)]="streetVal">
        <mat-option *ngFor="let street of streets" [value]="street.viewValue">
            {{street.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" class="input-form">
    <mat-label>Дом</mat-label>
    <mat-select [(ngModel)]="houseVal">
        <mat-option *ngFor="let house of houses" [value]="house.viewValue">
            {{house.viewValue}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" class="input-form">
    <mat-label>Квартира</mat-label>
    <textarea matInput [(ngModel)]="apartmentVal"></textarea>
</mat-form-field>
<mat-form-field class="input-form" appearance="fill">
    <mat-label>Выберите дату</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="arrivalDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field class="input-form" appearance="fill">
    <mat-label>Кому хотите вызвать врача?</mat-label>
    <mat-select [(ngModel)]="toPerson">
        <mat-option value="one">{{toMe}}</mat-option>
        <mat-option value="two">{{toChild}}</mat-option>
        <mat-option value="tree">{{toAnother}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="input-form" appearance="fill">
    <mat-label>Дата рождения</mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="birthDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
</mat-form-field>
<mat-form-field class="input-form" appearance="fill">
    <mat-label>Симптомы</mat-label>
    <textarea matInput [(ngModel)]="symptoms"></textarea>
</mat-form-field>

<!-- <mat-form-field class="input-form" appearance="fill">
    <mat-label>Комментарий врачу</mat-label>
    <textarea matInput ></textarea>
</mat-form-field> -->
<button mat-raised-button color="warn" class="input-form-bot" (click)="onClickCall()">Вызвать врача</button>