<!-- <nav> -->
    <!-- <ul>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/doctorsMap" routerLinkActive="active">Doc Page</a></li>
        <li><a routerLink="/registration" routerLinkActive="active">Auth</a></li>
        <li><a routerLink="/start" routerLinkActive="active">Request form</a></li>
        <li><a routerLink="/requestReqult" routerLinkActive="active">Request result</a></li>

        <li><a routerLink="/map" routerLinkActive="active">Customer map</a></li>
    </nav>
</ul> -->
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
