<nav>
    <ul>
        <li><a routerLink="/doctorsMap" routerLinkActive="active">Doc Page</a></li>
        <li><a routerLink="/auth" routerLinkActive="active">Auth</a></li>
        <li><a routerLink="/start" routerLinkActive="active">Request form</a></li>
        <li><a routerLink="/requestReqult" routerLinkActive="active">Request result</a></li>
      <li><a routerLink="/map" routerLinkActive="active">Customer map</a></li>

    </ul>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>